*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
download[[:space:]](27).png filter=lfs diff=lfs merge=lfs -text
merged_df.xlsx filter=lfs diff=lfs merge=lfs -text
data/rasters/avoided_export_Akagera.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_Akagera.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_arboretum.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_gishwati.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_kigali.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/c_storage_bas_vnp.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_arboretum.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_gishwati.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_kigali.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/sed_export_vnp.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_Akagera.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_arboretum.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_Bugarama.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_gishwati.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_kigali.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
data/rasters/wyield_vnp.tif filter=lfs diff=lfs merge=lfs -text
src/download%20%2827%29.png filter=lfs diff=lfs merge=lfs -text
src/pics.png filter=lfs diff=lfs merge=lfs -text
src/merged_df.xlsx filter=lfs diff=lfs merge=lfs -text
app/src/data/merged_df.xlsx filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/avoided_export_Akagera.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_Akagera.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_arboretum.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_gishwati.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_kigali.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/c_storage_bas_vnp.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_arboretum.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_gishwati.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_kigali.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/sed_export_vnp.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_Akagera.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_arboretum.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_Bugarama.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_gishwati.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_kigali.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
app/src/data/rasters/wyield_vnp.tif filter=lfs diff=lfs merge=lfs -text
app/src/pics.png filter=lfs diff=lfs merge=lfs -text
src/data/rasters/avoided_export_Akagera.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_Akagera.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_arboretum.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_gishwati.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_kigali.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/c_storage_bas_vnp.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_arboretum.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_Bugrama.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_gishwati.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_kigali.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/sed_export_vnp.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_Akagera.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_arboretum.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_Bugarama.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_gishwati.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_kigali.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_Muvumba.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_NYABARONGO.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_nyungwe.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_Rugezi.tif filter=lfs diff=lfs merge=lfs -text
src/data/rasters/wyield_vnp.tif filter=lfs diff=lfs merge=lfs -text
